

<ion-item class="overflow">
	<ion-label fixed>Address:</ion-label>
	<ion-auto-complete
					item-content
					[dataProvider]="nominatimProvider"	
					[(ngModel)]="address"
					#searchbar
					(itemSelected)="itemSelected($event)"
					type="text"></ion-auto-complete>
		<button ion-button icon-only>
			<ion-icon name="navigate"></ion-icon>
		</button>
</ion-item>

<div style="height: 70%;"
		 leaflet
		 [leafletOptions]="map_options"
		 [leafletZoom]="zoom"
		 [leafletCenter]="center">
</div>

