[submodule "server"]
	path = server
	url = https://github.com/lcoenen/openride-server
[submodule "client"]
	path = client
	url = https://github.com/lcoenen/openride-client
[submodule "shared"]
	path = shared
	url = https://github.com/lcoenen/openride-shared
[submodule "web"]
	path = web
	url = https://github.com/lcoenen/openride-web.git
