<!--
	Generated template for the OfferridePage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title *ngIf="ride.type == RideType.OFFER">Offer a ride</ion-title>
		<ion-title *ngIf="ride.type == RideType.REQUEST">Request a ride</ion-title>
	</ion-navbar>

</ion-header>

<wizard (valid)="valid($event)" mode="mode" [type]="ride.type">
	<wizard-page [linked]="ride.origin">
		<img class="wizard_step_caption" src="assets/imgs/origin.png"/>
		<h2>Origin</h2>
		<place-selector [(place)]="ride.origin"></place-selector>
	</wizard-page>

	<wizard-page [linked]="ride.destination">
		<img class="wizard_step_caption" src="assets/imgs/destination.png"/>
		<h2>Destination</h2>
		<place-selector [(place)]="ride.destination"></place-selector>
	</wizard-page>

	<wizard-page [linked]="ride.riding_time">
		<img class="wizard_step_caption" src="assets/imgs/riding_time.png"/>
		<h2>Riding time</h2>
		<time-selector [(time)]="ride.riding_time"></time-selector>
	</wizard-page>

	<wizard-page [linked]="ride.payement" *ngIf="ride.type == RideType.OFFER">
		<img class="wizard_step_caption" src="assets/imgs/money.png"/>
		<h2>Payement</h2>
		<payement-selector [(payement)]="ride.payement"></payement-selector>
	</wizard-page>

	<button *ngIf="mode == EditMode.EDIT" (click)="discard()" ion-button color="secondary">
		Discard
	</button>

	<button  (click)="valid()" ion-button icon-right color="royal">
		<span *ngIf="type == RideType.OFFER">Offer</span>
		<span *ngIf="type == RideType.REQUEST">Request</span>
		the ride	
		<ion-icon name="send"></ion-icon>
	</button>	

</wizard>
