<!--
Generated template for the OfferInvitePage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Invite people to your ride!</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let ride of rides">
			<ride-widget [ride]="ride" [type]="'invite'" (prospect)="invite($event)"></ride-widget>
		</ion-item>
	</ion-list>
	<div *ngIf="rides === undefined || rides.length == 0">
		Nobody's requesting for a ride near you at the moment.
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons end>
			<button (click)="continue()" ion-button icon-right color="royal">
				Continue
				<ion-icon name="arrow-forward"></ion-icon>
			</button>	
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
