e!--
Generated template for the RideBoardPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>RideBoard</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-segment [(ngModel)]="boardpage">
		<ion-segment-button value="summary">
			Summary
		</ion-segment-button>
		<ion-segment-button value="riders">
			Riders
		</ion-segment-button>
		<ion-segment-button value="chat">
			Chat <ion-badge color="primary">3</ion-badge>
		</ion-segment-button>
	</ion-segment>


	<div [ngSwitch]="boardpage">
		<div *ngSwitchCase="'summary'">
			<ion-list no-border>
					<ion-item>
					<ion-icon name='arrow-dropleft-circle' item-start></ion-icon>
					Departure
					<ion-note item-end>
						{{currentRide.origin.properties.address}}	
					</ion-note>
				</ion-item>

				<ion-item>
					<ion-icon name='arrow-dropright-circle' item-start></ion-icon>
					Destination	 
					<ion-note item-end>
						{{currentRide.destination.properties.address}}	
					</ion-note>
				</ion-item>

				<ion-item>
					<ion-icon name='time' item-start></ion-icon>
					Riding time
					<ion-note item-end>
						{{currentRide.riding_time}}		 
					</ion-note>
				</ion-item>

				<ion-item>
					<ion-icon name='cash' item-start></ion-icon>
					Payement
					<ion-note item-end>
						{{currentRide.payement}}€		 
					</ion-note>
				</ion-item>

			</ion-list>
		</div>

		<div *ngSwitchCase="'riders'">

			<ion-list>

				<ion-list-header>
					Driver
				</ion-list-header>

				<ion-item>

					<ion-avatar item-start>
						<img src="assets/imgs/avatar_{{this.currentRide.driver.name}}.png">
					</ion-avatar>
					<h2>{{this.currentRide.driver.name}}</h2>
				</ion-item>

				<ion-list-header>
					Riders
					<ion-badge *ngIf="this.currentRide.length != 0" item-end>
						{{this.currentRide.length}}</ion-badge>
				</ion-list-header>

				<ion-item><ion-note>No riders yet!</ion-note></ion-item>

				<ion-item-sliding *ngFor="let rider of this.currentRide.riders">
					<ion-item>
						<ion-avatar item-start>
							<img src="assets/imgs/avatar_{{rider.name}}.png">
						</ion-avatar>
						<h2>{{rider.name}}</h2>
					</ion-item>
					-
					<ion-item-options side="left">
						<button (click)="profile(rider)" ion-button color="primary">
							<ion-icon name="body"></ion-icon>
							Profile
						</button>
						<button ion-button color="secondary">
							<ion-icon name="close"></ion-icon>
							Remove
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>


			<button ion-button full>
				<ion-icon name='add' item-start></ion-icon>
				Invite
			</button>

		</div>
		<div *ngSwitchCase="'chat'">
			<ion-list>
				<ion-item>
					<ion-avatar item-start>
						<img src="assets/imgs/avatar_Rick.png">
					</ion-avatar>

					<h2>Rick</h2>
					<p>Near the swimming-pool?</p>
				</ion-item>

				<ion-item>

					<ion-avatar item-start>
						<img src="assets/imgs/avatar_Stephane.png">
					</ion-avatar>
					<h2>Stephane</h2>
					<p>Hey where do we meet?</p>
				</ion-item>
			</ion-list>


		</div>
	</div>

<ion-fab *ngIf="boardpage == 'summary'" left bottom>
    <button ion-fab color="danger"><ion-icon name="close"></ion-icon></button>
</ion-fab>
<ion-fab *ngIf="boardpage == 'summary'" right bottom>
    <button ion-fab color="secondary"><ion-icon name="create"></ion-icon></button>
</ion-fab>
</ion-content>

<ion-footer *ngIf="boardpage == 'chat'">
	<ion-grid>
		<ion-row>
			<ion-col col-10>
				<ion-input type="text"></ion-input>
			</ion-col>
			<ion-col col-2>
				<button ion-button icon-right>
					<ion-icon name="send"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
