<--
  Generated template for the MyRidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
		<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><ion-icon name="bookmark"></ion-icon> My rides</ion-title>
  </ion-navbar>

</ion-header> <ion-content padding> <ion-list *ngIf="myRides.myRides.length != 0"> <ion-list-header>My rides</ion-list-header> <ion-item *ngFor="let ride of myRides.myRides">		
			<ride-widget [ride]="ride" (matches)="matches(ride)" (edit)="edit_ride(ride)" (enter)="open_board(ride)" [mine]="mine(ride)" [type]="'mine'"></ride-widget>
		</ion-item>
	</ion-list>

	<ion-list *ngIf="myRides.myRequests.length != 0">
		<ion-list-header>My requests</ion-list-header>
		<ion-item *ngFor="let ride of myRides.myRequests">		
			<ride-widget [ride]="ride" (matches)="matches(ride)" (edit)="edit_ride(ride)" (enter)="open_board(ride)" [mine]="true" [type]="'request'"></ride-widget>
		</ion-item>
	</ion-list>
		
	<ion-list *ngIf="myRides.myProspects.length != 0">
		<ion-list-header>My prospects</ion-list-header>
		<ion-item *ngFor="let ride of myRides.myProspects">		
			<ride-widget [ride]="ride" (enter)="join(ride)" [type]="'prospect'"></ride-widget>
		</ion-item>
	</ion-list>

	<message-when-empty *ngIf="myRides.myRides.length + myRides.myRequests.length + myRides.myProspects == 0">	
		<p><ion-note>You have yet to publish a ride! You can <a (click)="create(RideType.REQUEST)">request</a> or <a (click)="create(RideType.OFFER)">offer</a> a ride to find ridemates. </ion-note></p>
	</message-when-empty>

</ion-content>
