	<ion-grid *ngIf="rides === undefined || rides.length == 0" style="text-align: center; height: 100%">
		<ion-row align-items-center style="height: 100%">
			<ion-col justify-content-center >
				<ng-content></ng-content>
			</ion-col>
		</ion-row>
		<ion-row align-items-center style="height: 100%">
			<ion-col >
				<p><img src="assets/imgs/nothing.png" alt="Nothing here" /></p>
			</ion-col>
		</ion-row>
		<ion-row align-items-center style="height: 100%">
			<ion-col justify-content-center >
				<p><button (click)="continue.emit()" 
				*ngIf="showContinue"
				ion-button 
				icon-right 
				color="royal">
					Continue
					<ion-icon name="arrow-forward"></ion-icon>
				</button></p>
			</ion-col>
		</ion-row>
	</ion-grid>
