<!--
	Generated template for the ProfilePage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title><ion-icon name="body"></ion-icon> Profile</ion-title>
	</ion-navbar>

</ion-header>


<ion-content css="profile-content" padding>


	<ion-card class="summary">
		<ion-item class="avatar-item">
			<ion-avatar class="avatar" item-start>
				<img src="assets/imgs/avatar_{{user.name}}.png">
			</ion-avatar>
		</ion-item>
		<ion-item>
			<ion-title>{{user.name}}</ion-title>
			<p>{{user.age}} years old, from {{user.place_of_origin}}</p>
		</ion-item>

	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-list>
				<ion-list-header>
					<ion-icon name="body" item-start></ion-icon>
					Presentation
				</ion-list-header>

				<ion-item text-wrap>
					<ion-label>{{user.presentation}}</ion-label>
				</ion-item>

				<ion-list-header *ngIf="user.has_car">
					<ion-icon name="car" item-start></ion-icon>
					Vehicle
				</ion-list-header>

				<ion-item text-wrap *ngIf="user.has_car">
					<ion-label>{{user.vehicle}}</ion-label>
				</ion-item>
				<ion-item >
					<ion-note>I pay {{user.charge_per_km}}&euro; per 100km</ion-note>
				</ion-item>
			</ion-list>

		</ion-card-content>
	</ion-card>

	<ion-fab *ngIf="me(user)" right bottom>
		<button ion-fab (click)="edit(user)" color="secondary"><ion-icon name="more"></ion-icon></button>
	</ion-fab>

</ion-content>
