<!--
  Generated template for the IdentifySignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<wizard (valid)="signup()">
<wizard-page [linked]="[user.name, user.password, confirmPassword, user.age, user.email, user.place_of_origin]">

	<ion-list>

		<ion-item>
			<ion-label stacked>Avatar</ion-label>
			<ion-avatar item-end>
				<img src="assets/imgs/avatar_{{user.name}}.png" (click)="avatar()">
			</ion-avatar>
		</ion-item>

		<ion-item>
			<ion-label stacked>Username</ion-label>
			<ion-input [(ngModel)]="user.name" type="text" value=""></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Password</ion-label>
			<ion-input [(ngModel)]="user.password" type="password"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Confirm the password</ion-label>
			<ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Age</ion-label>
			<ion-input [(ngModel)]="user.age" type="number"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input [(ngModel)]="user.email" type="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Place of origin</ion-label>
			<ion-input [(ngModel)]="user.place_of_origin" type="text"></ion-input>
		</ion-item>
		<p><ion-note *ngIf="mode == EditMode.CREATE">Already have an account? <a (click)="toSignIn()">Sign in</a>.</ion-note></p>
	</ion-list>
</wizard-page>
<wizard-page [linked]="[user.presentation, user.vehicle, user.charge_per_km]">
	<ion-list>
		<ion-item>
			<ion-label stacked>Tell more about yourself</ion-label>
			<ion-textarea [(ngModel)]="user.presentation"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-label><ion-note>Do you have a car?</ion-note></ion-label>
			<ion-toggle [(ngModel)]="user.has_car" checked="false"></ion-toggle>
		</ion-item>
		<ion-item *ngIf="user.has_car">
			<ion-label stacked>Describe your vehicle</ion-label>
			<ion-textarea [(ngModel)]="user.vehicle"></ion-textarea>
		</ion-item>
		<ion-item *ngIf="user.has_car">
			<ion-label stacked>How much do you pay (in &euro;) per 100 kilometer? (Please be honest)</ion-label>
			<ion-input [(ngModel)]="user.charge_per_km"></ion-input>
		</ion-item>
		<p><ion-note *ngIf="mode == EditMode.CREATE">Already have an account? <a (click)="toSignIn()">Sign in</a>.</ion-note></p>
	</ion-list>
</wizard-page>


<button *ngIf="mode == EditMode.EDIT" ion-button color="secondary" (click)="discard()">Discard</button>
<button *ngIf="mode == EditMode.CREATE" ion-button color="primary" (click)="signup()">Sign up</button> 
<button *ngIf="mode == EditMode.EDIT" ion-button color="primary" (click)="edit()">Edit</button>
