
<ion-card> 
	<ion-item>
		<ion-avatar item-start>
			<img src="assets/imgs/avatar_{{user.name}}.png">
		</ion-avatar>
		<h2>{{user.name}}</h2>
		<p>{{user.age}} years old, from {{user.place_of_origin}}</p>
	</ion-item>

	<ion-card-content>

		<p>is <strong *ngIf="ride.type == RideType.OFFER">offering</strong>
			<strong *ngIf="ride.type == RideType.REQUEST">requesting</strong> a ride
			from {{ride.origin.properties.address}} to {{ride.destination.properties.address}}</p>
		<p> in {{ride.riding_time}}</p>
		<p *ngIf="ride.payement">Price: {{ride.payement}}€</p>

	</ion-card-content>

	<ion-row>
		<ion-col>
			<!-- This will be used for request as well - it have to be renamed -->
			<button *ngIf="showProspect" (click)="invite.emit(ride)" ion-button icon-left clear small>
				<ion-icon name="thumbs-up"></ion-icon>
				<div *ngIf="ride.type == RideType.OFFER">Apply</div>
				<div *ngIf="ride.type == RideType.REQUEST">Invite</div>
			</button>
      <button (click)="enter.emit(ride)" ion-button icon-left clear small>
        <ion-icon name="log-in"></ion-icon>
        <div>Enter</div>
      </button>
		</ion-col>
		<ion-col center text-center>
			<ion-note>
				Reputation: 
				<ion-badge item-end>{{user.reputation}}</ion-badge>
			</ion-note>
		</ion-col>
	</ion-row>

</ion-card>
