<ion-card> <ion-item>
		<ion-avatar item-start>
			<img src="assets/imgs/avatar_{{user.name}}.png">
		</ion-avatar>
		<h2>{{user.name}}</h2>
		<p>{{user.age}} years old, from {{user.place_of_origin}}</p>
	</ion-item>

	<ion-card-content>

		is <strong *ngIf="ride.type == RideType.OFFER">offering</strong>
			<strong *ngIf="ride.type == RideType.REQUEST">requesting</strong> a ride 
			<ion-icon *ngIf="ride.type == RideType.REQUEST" name="thumbs-up"></ion-icon>
			<ion-icon *ngIf="ride.type == RideType.OFFER" name="car"></ion-icon>
			from {{ride.origin.properties.address}} to {{ride.destination.properties.address}}
		in {{ride.riding_time}}
		<span *ngIf="ride.payement">Price: {{ride.payement}}€</span>

	</ion-card-content>

	<ion-row>
		<ion-col>
			<!-- This will be used for request as well - it have to be renamed -->
			<button *ngIf="type == 'invite'" (click)="prospect.emit(ride)" ion-button icon-left clear small>
				<ion-icon name="thumbs-up"></ion-icon>
				<div *ngIf="ride.type == RideType.OFFER">Apply</div>
				<div *ngIf="ride.type == RideType.REQUEST">Invite</div>
			</button>
      <button (click)="enter.emit(ride)" ion-button icon-left clear small>
        <ion-icon name="log-in"></ion-icon>
        <div *ngIf="ride.type == RideType.OFFER && type == 'mine'">Enter</div>
        <div *ngIf="type == 'prospect' && ride.type == RideType.OFFER">Join</div>
        <div *ngIf="type == 'prospect' && ride.type == RideType.REQUEST">Accept</div>
      </button>
			<button *ngIf="mine" (click)="matches.emit(ride)" ion-button icon-left clear small>
				<ion-icon name="add-circle"></ion-icon>
        <div *ngIf="ride.type == RideType.OFFER">Find drivers</div>
        <div *ngIf="ride.type == RideType.REQUEST">Find riders</div>
			</button>
		</ion-col>
		<ion-col center text-center>
			<ion-note>
				Reputation: 
				<ion-badge item-end>{{user.reputation}}</ion-badge>
			</ion-note>
		</ion-col>
	</ion-row>

</ion-card>
