<ion-card> <ion-item>
		<ion-avatar item-start>
			<img src="assets/imgs/avatar_{{user.name}}.png">
		</ion-avatar>
		<h2>{{user.name}}</h2>
		<p>{{user.age}} years old, from {{user.place_of_origin}}</p>
		<p>
			is <strong *ngIf="ride.type == RideType.OFFER">offering</strong>
			<strong *ngIf="ride.type == RideType.REQUEST">requesting</strong> a ride 
			<ion-icon *ngIf="ride.type == RideType.REQUEST" name="thumbs-up"></ion-icon>
			<ion-icon *ngIf="ride.type == RideType.OFFER" name="car"></ion-icon>
		</p>
	</ion-item>

	<ion-card-content>

		<ion-grid class="ride-widget-grid" >
			<ion-row align-items-center justify-content-center>
				<ion-col col-1><img src="assets/imgs/origin.png" alt="Origin" /></ion-col>
				<ion-col col-6>
					<p>{{ride.origin.properties.address}}</p>
				</ion-col>
				<ion-col col-1><img src="assets/imgs/riding_time.png" alt="Riding time" /></ion-col>
				<ion-col col-4>
					<p *ngIf="ride.riding_time != 'asap'">{{ride.riding_time | amCalendar}}</p>
					<p *ngIf="ride.riding_time == 'asap'">ASAP<p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-1><img src="assets/imgs/destination.png" alt="Destination" /></ion-col>
				<ion-col col-6>
					<p> {{ride.destination.properties.address}}</p>
				</ion-col>
				<ion-col *ngIf="ride.payement" col-1><img src="assets/imgs/money.png" alt="Payement" /></ion-col>
				<ion-col col-4>
					<p><strong *ngIf="ride.payement">{{ride.payement}}€</strong></p>
				</ion-col>
			</ion-row>
		</ion-grid>

	</ion-card-content>

	<ion-row>
		<ion-col>
			<!-- This will be used for request as well - it have to be renamed -->
			<button *ngIf="type == 'invite' && !prospected" (click)="prospect.emit(ride)" ion-button icon-left clear small>
				<ion-icon name="thumbs-up"></ion-icon>
				<div *ngIf="ride.type == RideType.OFFER">Apply</div>
				<div *ngIf="ride.type == RideType.REQUEST">Invite</div>
			</button>
			<button *ngIf="type == 'invite' && prospected" style="color: grey" ion-button icon-left clear small>
				<div *ngIf="ride.type == RideType.OFFER">Applied</div>
				<div *ngIf="ride.type == RideType.REQUEST">Invited</div>
			</button>
      <button *ngIf="ride.type == RideType.OFFER && type == 'mine'" (click)="enter.emit(ride)" ion-button icon-left clear small>
        <ion-icon name="log-in"></ion-icon>
        Enter
      </button>
      <button *ngIf="type == 'prospect'" (click)="enter.emit(ride)" ion-button icon-left clear small>
        <ion-icon name="log-in"></ion-icon>
        <div *ngIf="ride.type == RideType.OFFER">Join</div>
        <div *ngIf="ride.type == RideType.REQUEST">Accept</div>
      </button>
			<button *ngIf="mine" (click)="matches.emit(ride)" ion-button icon-left clear small>
				<ion-icon name="add-circle"></ion-icon>
        <div *ngIf="ride.type == RideType.OFFER">Find drivers</div>
        <div *ngIf="ride.type == RideType.REQUEST">Find riders</div>
			</button>
			<button *ngIf="mine" (click)="edit.emit(ride)" ion-button icon-left clear small>
				<ion-icon name="build"></ion-icon>
				Edit
			</button>
		</ion-col>
		<ion-col center text-center>
			<ion-note>
				Reputation: 
				<ion-badge item-end>{{user.reputation}}</ion-badge>
			</ion-note>
		</ion-col>
	</ion-row>

</ion-card>
